<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../includes/head") %>
        <link rel="stylesheet" href="/css/editProduct-mobile.css">
        <link rel="stylesheet" href="/css/editProduct-tablet.css">
        <link rel="stylesheet" href="/css/editProduct-desktop.css">
</head>

<body>


    <%- include("../includes/header") %>

        <main>
            <section class="imageCreateProducts">
                <form action="/products/editProduct/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="formAreaCreateProducts">
                    <div class="divCreateProduct">
                        <h2 class="headerCreateProduct">EDITANDO EL PRODUCTO ID:
                            <%= product.id %>
                        </h2>
                        <a href="/products/createProducts" class="createProductLink">Quiero crear un producto nuevo</a>
                    </div>
                    <div class="editFields">
                        <fieldset class="labelFieldset">
                            <label for="nombreProducto"> Titulo del producto </label>
                            <input class="text_area k2TitleBox" type="text" name="tittle" id="tittle" maxlength="250" value=" <%= product.tittle %> ">
                        </fieldset>
                        <fieldset class="labelFieldset">
                            <label for="precioProducto"><i class="fa-solid fa-money-check-dollar"></i> Precio por
                                persona </label>
                            <input type="number" name="salesPrice" id="salesPrice" class="inputTextFieldCreateProducts" value="<%= product.salesPrice %>">
                            <label for="basePrecio"><i class="fa-solid fa-location-dot registerIcon"></i>
                                Base : </label>
                            <select name="base" id="base" placeholder="Base" class="inputTextFieldCreateProducts" value="<%= product.base %>">
                                <option value="Doble"> Doble</option>
                                <option value="Single"> Single</option>
                                <option value="Family Plan"> Family Plan</option>
                            </select>
                        </fieldset>
                        <fieldset class="labelFieldset">
                            <label for="imagenProducto"><i class="fa-solid fa-image"></i> - Imagen ilustrativa -</label>
                            <input type="file" name="image" id="image" accept="image/png, .jpeg, .jpg, image/gif" class=>
                        </fieldset>
                        <fieldset class="labelFieldset">
                            <label for="categoriaProducto"><i class="fa-solid fa-location-dot registerIcon"></i>
                                Categoría</label>
                            <select name="categoriaProducto" id="categoriaProducto" placeholder="Categoria A" class="inputTextFieldCreateProducts" value="<%= product.category %>">
                                <option value="Exotico">Exotico</option>
                                <option value="Aventura">Aventura</option>
                                <option value="Culturas Milenarias">Culturas Milenarias</option>
                                <option value="Playas">Playas</option>
                                <option value="Clasicos">Clasicos</option>
                            </select>
                        </fieldset>
                        <fieldset class="labelFieldset">
                            <label for="nights"><i class="fa-solid fa-bed"></i> Cantidad de noches de
                                alojamiento <input type="number" name="nights" id="nights" max="99" min="1"
                                    class="cantNoches" value="<%=product.nights%>"></label>
                            <label for="days"><i class="fa-solid fa-sun"></i> Cantidad de dias de viaje <input
                                    type="number" name="days" id="days" max="99" min="1" class="cantDias"
                                    value="<%=product.days%>"></label>
                        </fieldset>
                        <fieldset class="labelFieldset">
                            <label for=""><i class="fa-solid fa-star"></i>Categoria de Hoteles: </label>
                            <label for="5estrellasHotel"> <input type="checkbox" name="stars" id="stars"
                                    value="<%=product.stars%> " placeholder="2" class=""><i
                                    class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i
                                    class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i
                                    class="fa-regular fa-star"></i> </label>
                            <label for="4estrellasHotel"> <input type="checkbox" name="stars" id="stars"
                                    value="<%=product.stars%> " placeholder="2" class=""><i
                                    class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i
                                    class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> </label>
                            <label for="3estrellasHotel"> <input type="checkbox" name="stars" id="stars"
                                    value="<%=product.stars%> " placeholder="2" class=""><i
                                    class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i
                                    class="fa-regular fa-star"></i> </label>
                            <label for="2estrellasHotel"><input type="checkbox" name="stars" id="stars"
                                    value="<%=product.stars%> " placeholder="2" class=""> <i
                                    class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
                            </label>
                        </fieldset>
                        <fieldset class="labelFieldset">
                            <label for="itinerario"> <i class="fa-solid fa-van-shuttle"></i> Itinerario/excursiones:
                            </label>
                            <input class="text_area k2TitleBox" type="text" name="shortDescription" maxlength="250" value=" <%= product.shortDescription %>" placeholder="Pittensberg Bay, Johannesburgo, ...">
                        </fieldset>
                        <fieldset class="labelFieldset">
                            <input type="checkbox" name="flights" id="flights" value="<%= product.flights %>"><label for="aereos"> aereos incluidos <i class="fa-solid fa-plane-departure"></i></label>
                            <input type="checkbox" name="transfers" id="transfers" value="<%= product.transfers %>"><label for="traslados"> traslados
                                in/out y entre
                                hoteles <i class="fa-solid fa-bus"></i></label>
                        </fieldset>
                        <fieldset class="labelFieldset">
                            <label for="regionProducto"><i class="fa-solid fa-award"></i> Status</label></label>
                            <select name="status" id="status" placeholder="Status" class="inputTextFieldCreateProducts" value="<%= product.status %>">
                            <option value="none">-----</option>
                            <option value="highLighted">highLighted</option>
                            <option value="bestSeller">bestSeller</option>
                        </select>
                        </fieldset>
                        <fieldset class="labelFieldset">
                            <label for="tags"><i class="fa-solid fa-hashtag"></i> Tags</label>
                            <input class="text_area k2TitleBox" type="text" name="tags" id="tags" maxlength="250" value="<%=product.tags%>" placeholder="#exoticos #paraiso">
                        </fieldset>
                        <fieldset class="labelFieldset">
                            <label for="descripcionProducto"><i class="fa-solid fa-list"></i> Descripcion del itinerario
                            </label>
                            <textarea class="productDescriptionField" type="textarea" name="longDescription" id="longDescription" placeholder="DIA 01: .., DIA 02:.. " maxlength="100000"><%=product.longDescription%></textarea>
                        </fieldset>
                        <fieldset class="buttonField">
                            <a href="/"><input type="submit" value="Confirmar Cambios" name="confirmarCambios" class="buttonCreateProduct"></a>
                            <a href="/products/productList"><input type="reset" value="Cancelar" name="cancelar" class="buttonClose"></a>
                        </fieldset>
                        <a class="checkEdit"><input type="checkbox" name="eliminar" value="" required> Estoy seguro de realizar estos cambios</a>
                    </div>
                </form>
                <form method="POST" action="/products/delete/<%= product.id %>?_method=DELETE" class="formAreaCreateProducts">
                    <a href="" class="checkDelete"><button><i class="fa-solid fa-trash-can"></i>Quiero eliminar este Producto</button><input
                    type="checkbox" name="eliminar" value="" required> Estoy seguro de elminar el
                producto</a>
                </form>
            </section>
        </main>

        <%- include("../includes/footer") %>

</body>