<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../includes/head") %>
        <link rel="stylesheet" href="/css/productList-mobile.css" />
        <link rel="stylesheet" href="/css/productList-tablet.css" />
        <link rel="stylesheet" href="/css/productList-desktop.css" />

</head>

<body>
    <%- include("../includes/header") %>
        <main>
            <aside class="sideBar">
                <h2>FILTROS <a href="#hideFilters" id="hideFilters" class="mobileDropDown collapseStart"><span class="fa-solid fa-circle-chevron-down"></span></a><a id="showFilters" href="#showFilters" class="mobileDropDown collapsed"><span class="fa-solid fa-circle-chevron-up"></span></a></h2>
                <div class="filterRegiones collapsibleBody">
                    <h3 class="">Regiones</h3>
                    <ul>
                        <li><a href="/products/productList/regions/1">Africa</a></li>
                        <li><a href="/products/productList/regions/5">Islas del Indico</a></li>
                        <li><a href="/products/productList/regions/2">Lejano Oriente</a></li>
                        <li><a href="/products/productList/regions/3">Medio Oriente</a></li>
                        <li><a href="/products/productList/regions/7">Sudeste Asiatico</a></li>
                        <li><a href="/products/productList/regions/4">Islas del Pacifico Sur</a></li>
                        <li><a href="/products/productList/regions/6">Oceania</a></li>
                        <li><a href="/products/productList">QUITAR FILTROS</a></li>
                    </ul>
                </div>
                <div class="filterTipoDestino collapsibleBody">
                    <h3 class="">Tipo de destino</h3>
                    <ul class="list-group">
                        <li class="">
                            <a href="/products/productList/category/CulturaMilenaria">
                                <span class="fa pr-1" id="red"></span><i class="fa-solid fa-gopuram"></i> Cultura Milenaria
                            </a>
                        </li>
                        <li class="">
                            <a href="/products/productList/category/Aventura">
                                <span class="fa pr-1" id="blue"></span><i class="fa-regular fa-compass"></i> Aventura
                            </a>
                        </li>
                        <li class="">
                            <a href="/products/productList/category/Clasico">
                                <span class="fa pr-1" id="blue"></span><i class="fa-solid fa-map-location"></i> Clasicos
                            </a>
                        </li>
                        <li class="">
                            <a href="/products/productList/category/Playas">
                                <span class="fa pr-1" id="teal"></span>
                                <i class="fa-solid fa-umbrella-beach"></i> Playas</a>
                        </li>
                    </ul>
                </div>
                <div class="filterTags collapsibleBody">
                    <h3>TAGS</h3>
                    <% products.forEach(element=> {%>
                        <p>
                            <% element.tags.forEach(e => {%>
                                <a class="tagsLink" href="/products/productList/tags/<%=e.tags%>">
                                    <%=e.tags%>
                                </a>
                                <% }) %>
                        </p>
                        <% }) %>
                </div>
            </aside>

            <article class="articleContainer">
                <% products.forEach(element=> {%>
                    <div class="productoBox">
                        <figure class="articleFigure">
                            <a href="/products/details/<%= element.id %>"><img src="/products/<%= element.images[0].images %>" alt="" /></a>
                        </figure>
                        <section class="detalle">
                            <header class="tituloPaquete">
                                <h2>
                                    <%= element.tittle %> - (
                                        <%= element.days %> dias/
                                            <%= element.nights %> noches)
                                </h2>
                                <span>
                  <%= element.shortDescription %>
                </span>
                            </header>
                            <section class="condicionesPaquete">
                                <div class="condicionesPaquete"></div>
                                <div class="resumenPaquete">
                                    <li>
                                        <i class="fa-solid fa-globe"></i>
                                        <%= element.productoRegion.region %>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-hotel"></i> Alojamiento
                                        <%= element.stars %> estrellas
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-moon"></i> Cantidad de noches:
                                        <%= element.nights %>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-plane-departure"></i> Incluye aereos/traslados
                                    </li>
                                </div>
                            </section>
                        </section>
                        <section class="productPrice">
                            <i class="fa-solid fa-money-check-dollar"></i>
                            <p>
                                Precio final por persona, en base
                                <%= element.base %>, desde :
                            </p>
                            <p class="price">$
                                <%= element.salesPrice %> USD</p>
                            <nav>
                                <a href="/products/details/<%= element.id %>"><input type="submit" value="Mas info" name="detalleProducto" class="buttonDetailProduct" /></a>
                            </nav>
                        </section>
                    </div>
                    <% }) %>
            </article>
        </main>

        <%- include("../includes/footer") %>
</body>

</html>