<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../includes/head") %>
        <link rel="stylesheet" href="/css/logged-mobile.css">
        <link rel="stylesheet" href="/css/logged-desktop.css">
</head>

<body>

    <%- include("../includes/header") %>
        <section class="main-top">
            <span class="iconMobile"><i class="fa-solid fa-user"></i> ยก Hola <%= user.firstName %> !</span>
        </section>


        <main>
            <section class="imageLogged">
                <div class="userData">
                    <figure class="imageContainer">
                        <img <% if (user.avatar) { %>
                                src="/avatars/<%= user.avatar %>"
                            <% } else { %>
                                src="/avatars/<%= "avatar-166012345-123456.gif" %>"  
                        <% } %> 
                         " alt="Avatar usuario <%= user.id %> ">
                    </figure>
                    <p class="userInfo">Nombre : <%= user.firstName %> </p>
                    <p class="userInfo">Apellido : <%= user.lastName %> </p>
                    <p class="userInfo">Email: <%= user.email %> </p>
                </div>
            </section>
        </main>

        <%- include("../includes/footer") %>

</body>

</html>