<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../includes/head") %>
        <link rel="stylesheet" href="/css/login-mobile.css">
        <link rel="stylesheet" href="/css/login-tablet.css">
        <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script defer src="/scripts/login.js"></script>
</head>

<body>

    <%- include("../includes/header") %>


        <main>
            <section class="imageLogin">
                <form action="/users/access" method="post" class="formAreaRegister" id="login">
                    <fieldset class="labelFieldset">
                        <label for="email"><i class="fa-solid fa-envelope-open-text registerIcon"></i> Email</label>
                        <input type="email" name="email" id="email" placeholder="Ingresa tu email" class="inputTextFieldRegister" value="<%= locals.oldData ? oldData.email : null %>">
                        <% if (locals.errors && errors.email) { %>
                        <p class="msg-error">
                            <%= errors.email.msg %>
                            </p>
                            <% } %>
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="password"><i class="fa-solid fa-lock registerIcon"></i> Contrase単a</label>
                        <input type="password" name="password" id="password" placeholder="Ingresa tu contrase単a" class="inputTextFieldRegister" value="<%= locals.oldData ? oldData.password : null %>">
                        <% if (locals.errors && errors.password) { %>    
                        <p class="msg-error">
                            <%= errors.password.msg %>
                            </p>
                            <% } %>
                    </fieldset>
                    <fieldset class="bottomCheck2">
                        <label for="recordaruser" class="recordarPass">Recordar usuario</label>
                        <input type="checkbox">
                        <label for="recordarpass" class="recordarPass">Recordar contrase単a</label>
                        <input type="checkbox">
                    </fieldset>

                    <fieldset class="buttonField">
                        <button type="submit" class="sendButton">Enviar</button>
                        <button type="reset" class="sendButton">Borrar</button>
                    </fieldset>
                    <fieldset class="olvidePass">
                        <a href="">Olvide mi contrase単a</a>
                    </fieldset>
                </form>
            </section>
        </main>


        <%- include("../includes/footer") %>

</body>

</html>