<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../includes/head") %>
        <link rel="stylesheet" href="/css/register-mobile.css">
        <link rel="stylesheet" href="/css/register-tablet.css">
</head>

<body>
    <%- include("../includes/header") %>


        <main>
            <section class="imageRegister">
                <form action="/users/save" method="post" class="formAreaRegister" enctype="multipart/form-data">
                    <fieldset class="labelFieldset">
                        <label for="nombre"><i class="fa-solid fa-id-card registerIcon"></i> Nombre</label>
                        <input type="text" name="firstName" placeholder="Ingresa tu nombre" class="inputTextFieldRegister"  value="<%= locals.oldData ? oldData.firstName : null %>">
                        <% if (locals.errors && errors.firstName) { %>
                            <p class="msg-error">
                                <%= errors.firstName.msg %>
                            </p>

                            <% } %>
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="nombre"><i class="fa-solid fa-id-card registerIcon"></i> Apellido</label>
                        <input type="text" name="lastName" placeholder="Ingresa tu apellido" class="inputTextFieldRegister"  value="<%= locals.oldData ? oldData.lastName : null %>">
                        <% if (locals.errors && errors.lastName) { %>
                            <p class="msg-error">
                                <%= errors.lastName.msg %>
                            </p>

                            <% } %>
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="usuario"><i class="fa-solid fa-user registerIcon"></i> Usuario</label>
                        <input type="text" name="userName" placeholder="Ingrese nombre de usuario" class="inputTextFieldRegister" >
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="nacimiento"><i class="fa-solid fa-calendar-days registerIcon"></i> Fecha de nacimiento</label>
                        <input type="date" name="date" id="date" placeholder="Fecha de nacimiento" class="inputTextFieldRegister">
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="codPostal"><i class="fa-solid fa-envelope foot-icon registerIcon"></i> Código postal</label>
                        <input type="text" name="zipCode" placeholder="1900" class="inputTextFieldRegister">
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="direccion"><i class="fa-solid fa-location-dot registerIcon"></i> Dirección</label>
                        <input type="text" name="address" placeholder="Calle 7 n° 1307" class="inputTextFieldRegister">
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="ciudad"><i class="fa-solid fa-city"></i> Ciudad</label>
                        <input type="text" name="city" placeholder="La Plata" class="inputTextFieldRegister">
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="país"><i class="fa-solid fa-earth-africa"></i></i> País</label>
                        <input type="text" name="country" placeholder="Argentina" class="inputTextFieldRegister">
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="email"><i class="fa-solid fa-envelope-open-text registerIcon"></i> E-mail</label>
                        <input type="email" name="email" id="email" placeholder="Ingresa tu email" class="inputTextFieldRegister" value="<%= locals.oldData ? oldData.email : null %>">
                        <% if (locals.errors && errors.email) { %>
                            <p class="msg-error">
                                <%= errors.email.msg %>
                            </p>

                            <% } %>
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="password"><i class="fa-solid fa-lock registerIcon"></i> Crear contraseña</label>
                        <input type="password" name="password" id="password" placeholder="Ingresa una contraseña" class="inputTextFieldRegister" value="<%= locals.oldData ? oldData.password : null %>">
                        <% if (locals.errors && errors.password) { %>
                            <p class="msg-error">
                                <%= errors.password.msg %>
                            </p>

                            <% } %>
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="phoneNumber"><i class="fa-solid fa-mobile-screen-button"></i> Teléfono</label>
                        <input type="number" name="phoneNumber" id="phoneNumber" placeholder="Ingresa un teléfono" class="inputTextFieldRegister" >
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="cargo"><i class="fa-solid fa-briefcase"></i> Cargo/Posición</label>
                        <input type="text" name="position" id="position" placeholder="Admin" class="inputTextFieldRegister" >
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="gender"><i class="fa-solid fa-genderless"></i>
                        Género</label>
                        <select name="gender" id="gender" class="inputTextFieldRegister">
                        <option>Masculino</option>
                        <option>Femenino</option>
                        <option>Otros</option>
                        <option>Prefiero no decirlo</option>
                    </select>
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="imagenUsuario"><i class="fa-solid fa-image"></i> - Foto de perfil</label>
                        <input type="file" name="avatar" id="avatar" accept="image/png, .jpeg, .jpg, image/gif" class="inputTextFieldRegister">
                        <% if (locals.errors && errors.avatar) { %>
                            <p class="msg-error">
                                <%= errors.avatar.msg %>
                            </p>
                            <% } %>>
                    </fieldset>

                    <fieldset class="bottomCheck">
                        <label for="condiciones">Acepto los terminos y condiciones</label>
                        <input type="checkbox" required>
                    </fieldset>
                    <fieldset class="bottomCheck">
                        <label for="mailing">Quiero recibir novedades y ofertas por correo</label>
                        <input type="checkbox">
                    </fieldset>
                    <fieldset class="buttonField">
                        <button type="submit" value="Enviar" name="enviar" class="sendButton">Crear Usuario</button>
                        <button type="reset" value="Borrar" name="borrar" class="sendButton">Cancelar</button>
                    </fieldset>

                </form>
            </section>
        </main>

        <%- include("../includes/footer") %>

</body>

</html>