<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../includes/head") %>
        <link rel="stylesheet" href="/css/register-mobile.css">
        <link rel="stylesheet" href="/css/register-tablet.css">
        <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script defer src="/scripts/register.js"></script>
</head>

<body>
    <%- include("../includes/header") %>


        <main>
            <section class="imageRegister">
                <form action="/users/save" method="post" class="formAreaRegister" id="register" enctype="multipart/form-data">
                    <input type="hidden" name="position" value="user">
                    <fieldset class="labelFieldset">
                        <label for="nombre"><i class="fa-solid fa-id-card registerIcon"></i> * Nombre</label>
                        <input type="text" name="firstName" placeholder="Ingresa tu nombre" class="inputTextFieldRegister" value="<%= locals.oldData ? oldData.firstName : null %>">
                            <p class="msg-error">
                            </p>
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="nombre"><i class="fa-solid fa-id-card registerIcon"></i> * Apellido</label>
                        <input type="text" name="lastName" placeholder="Ingresa tu apellido" class="inputTextFieldRegister" value="<%= locals.oldData ? oldData.lastName : null %>">
                            <p class="msg-error">
                            </p>

                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="nacimiento"><i class="fa-solid fa-calendar-days registerIcon"></i> Fecha de nacimiento</label>
                        <input type="date" name="birthDate" id="date" placeholder="Fecha de nacimiento" class="inputTextFieldRegister">
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="email"><i class="fa-solid fa-envelope-open-text registerIcon"></i> * E-mail</label>
                        <input type="email" name="email" id="email" placeholder="Ingresa tu email" class="inputTextFieldRegister" value="<%= locals.oldData ? oldData.email : null %>">
                            <p class="msg-error">
                            </p>

                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="password"><i class="fa-solid fa-lock registerIcon"></i> * Crear contraseña</label>
                        <input type="password" name="password" id="password" placeholder="Ingresa una contraseña" class="inputTextFieldRegister" value="<%= locals.oldData ? oldData.password : null %>">
                            <p class="msg-error">
                            </p>

                        </fieldset>
                    </fieldset>
                    <fieldset class="labelFieldset">
                        <label for="imagenUsuario"><i class="fa-solid fa-image"></i> - Foto de perfil</label>
                        <input type="file" name="avatar" id="avatar" accept="image/png, .jpeg, .jpg, image/gif" class="inputTextFieldRegister">
                            <p class="msg-error">
                            </p>

                    </fieldset>
                    <fieldset class="bottomCheck">
                        <label for="condiciones">Acepto los terminos y condiciones</label>
                        <input type="checkbox" required>
                    </fieldset>
                    <fieldset class="bottomCheck">
                        <label for="mailing">Quiero recibir novedades y ofertas por correo</label>
                        <input type="checkbox">
                    </fieldset>
                    <fieldset class="buttonField">
                        <button type="submit" value="Enviar" name="enviar" class="sendButton">Crear Usuario</button>
                        <button type="reset" value="Borrar" name="borrar" class="sendButton">Cancelar</button>
                    </fieldset>
                </form>
            </section>
        </main>

        <%- include("../includes/footer") %>

</body>

</html>